Hypothesis Testing is a statistical method used to make inferences or decisions about a population based on sample data. It starts with a null hypothesis (H0),which represents a  default stance or no effect, and an alternative hypothesis (H1 or Ha), which represents what we aim to prove or expect to find. The process involves using sample data to determine whether to reject the null hypothesis in favor of the alternative hypothesis, basedon the likelihood of observing the sample data under the null hypothesis.

In [85]:
import pandas as pd
from scipy.stats import ttest_ind

In [87]:
df = pd.read_csv('website_ab_test.csv')

In [89]:
df.head()

,Theme,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Location,Session_Duration,Purchases,Added_to_Cart
0,Light Theme,0.054920,0.282367,0.405085,72.489458,25,Chennai,1535,No,Yes
1,Light Theme,0.113932,0.032973,0.732759,61.858568,19,Pune,303,No,Yes
2,Dark Theme,0.323352,0.178763,0.296543,45.737376,47,Chennai,563,Yes,Yes
3,Light Theme,0.485836,0.325225,0.245001,76.305298,58,Pune,385,Yes,No
4,Light Theme,0.034783,0.196766,0.765100,48.927407,25,New Delhi,1437,No,No

In [91]:
# Dataset Summary
summary = {
    'Number of Records': df.shape[0],
    'Number of Columns': df.shape[1],
    'Missing Values': df.isnull().sum(),
    'Numerical Columns Summary': df.describe()

    
}

In [93]:
summary

{'Number of Records': 1000,
 'Number of Columns': 10,
 'Missing Values': Theme                 0
 Click Through Rate    0
 Conversion Rate       0
 Bounce Rate           0
 Scroll_Depth          0
 Age                   0
 Location              0
 Session_Duration      0
 Purchases             0
 Added_to_Cart         0
 dtype: int64,
 'Numerical Columns Summary':        Click Through Rate  Conversion Rate  Bounce Rate  Scroll_Depth  \
 count         1000.000000      1000.000000  1000.000000   1000.000000
 mean             0.256048         0.253312     0.505758     50.319494
 std              0.139265         0.139092     0.172195     16.895269
 min              0.010767         0.010881     0.200720     20.011738
 25%              0.140794         0.131564     0.353609     35.655167
 50%              0.253715         0.252823     0.514049     51.130712
 75%              0.370674         0.373040     0.648557     64.666258
 max              0.499989         0.498916     0.799658     79.997108

                Age  Session_Duration
 count  1000.000000       1000.000000
 mean     41.528000        924.999000
 std      14.114334        508.231723
 min      18.000000         38.000000
 25%      29.000000        466.500000
 50%      42.000000        931.000000
 75%      54.000000       1375.250000
 max      65.000000       1797.000000  }

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Theme               1000 non-null   object
 1   Click Through Rate  1000 non-null   float64
 2   Conversion Rate     1000 non-null   float64
 3   Bounce Rate         1000 non-null   float64
 4   Scroll_Depth        1000 non-null   float64
 5   Age                 1000 non-null   int64
 6   Location            1000 non-null   object
 7   Session_Duration    1000 non-null   int64
 8   Purchases           1000 non-null   object
 9   Added_to_Cart       1000 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 78.3+ KB

In [97]:
# grouping data by theme and calculating mean values for the metrics
theme_performance = df.groupby('Theme').mean(numeric_only= True)

In [99]:
# sorting the data by conversion rate for a better comparison
theme_performance_sorted = theme_performance.sort_values(by = 'Conversion Rate')

In [101]:
theme_performance_sorted

,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Session_Duration
Theme,,,,,,
Dark Theme,0.264501,0.251282,0.512115,49.926404,41.332685,919.482490
Light Theme,0.247109,0.255459,0.499035,50.735232,41.734568,930.833333

### Getting started with hypothesis Testing

In [116]:
# extracting conversion rates for both themes 
conversion_rates_light_ = df[df['Theme'] == 'Light Theme']['Conversion Rate']
conversion_rates_dark = df[df['Theme'] == 'Dark Theme']['Conversion Rate']

In [118]:
# performing a two - sample t-test
t_stat, p_value = ttest_ind(conversion_rates_light_, conversion_rates_dark, equal_var= False)

In [120]:
t_stat, p_value

(0.4748494462782632, 0.6349982678451778)

In [124]:
# extracting click through rates for both themes
click_through_rates_light = df[df['Theme'] == 'Light Theme']['Click Through Rate']
click_through_rates_dark = df[df['Theme'] == 'Dark Theme']['Click Through Rate']

In [130]:
# performing a two-sample t-test
t_stat_ctr, p_value_ctr = ttest_ind(click_through_rates_light, click_through_rates_dark, equal_var= False)

In [136]:
t_stat_ctr, p_value_ctr

(-1.9781708664172253, 0.04818435371010704)

In [138]:
# extracting bounce rates for both themes
bounce_rates_light = df[df['Theme'] == 'Light Theme']['Bounce Rate']
bounce_rates_dark = df[df['Theme'] == 'Dark Theme']['Bounce Rate']

In [140]:
t_stat_br, p_values_br = ttest_ind(bounce_rates_light, bounce_rates_dark, equal_var= False)

In [142]:
t_stat_br, p_values_br

(-1.2018883310494073, 0.229692077505148)

In [144]:
# extracting scroll depth for both themes
scroll_depth_light = df[df['Theme'] == 'Light Theme']['Scroll_Depth'] 
scroll_depth_dark = df[df['Theme'] == 'Dark Theme']['Scroll_Depth']

In [146]:
t_stat_sd, p_value_sd = ttest_ind(scroll_depth_light, scroll_depth_dark, equal_var= False)

In [148]:
t_stat_sd, p_value_sd

(0.7562277864140986, 0.4496919249484911)

In [160]:
# creating a comparison table
comparison_table = pd.DataFrame({
    'Metric': ['CTR','CR','BR','SD'],
    'T-stat':[t_stat_ctr,t_stat, t_stat_br, t_stat_sd],
    'P-Val':[p_value_ctr,p_value,p_values_br, p_value_sd]
    
})

In [162]:
comparison_table

  Metric    T-stat     P-Val
0    CTR -1.978171  0.048184
1     CR -1.978171  0.048184
2     BR -1.201888  0.229692
3     SD  0.756228  0.449692